/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f1f1f1;
  margin: 0 auto;
}

/* HEADER */
header {
  background-image: linear-gradient(180deg, rgb(153, 187, 234), transparent),
    linear-gradient(0deg, rgb(153, 187, 234), transparent),
    url(/images/globe-2.jpg);
  background-size: cover;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
p {
  font-weight: bold;
}

h1,
p {
  color: #fff;
}

fieldset {
  border: none;
  width: 100%;
}

/* APPLY COUNT */
.counting {
  margin: 15px auto 15px auto;
}

/* COUNTRIES SECTION */
.wrapper {
  display: flex;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto;
  max-width: 80%;
  gap: 3px;
}

.countrie {
  background-size: cover;
  background-image: linear-gradient(180deg, rgb(146, 170, 202), transparent),
    linear-gradient(0deg, rgb(212, 229, 253), transparent),
    url(/images/map_image.jpg);
  text-align: center;
  color: #fff;
  font-size: 24px;
  width: 150px;
  height: 150px;
  border: 1px solid;
}

/* BUTTON */
.lbl-swith {
  display: inline-block;
  background: rgb(68, 68, 231);
  padding: 10px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

input[type="text"]:focus {
  outline: none;
}

.button {
  display: inline-block;
}

.button-st,
.button-order {
  display: none;
}

.button-st:checked ~ .lbl-swith,
.button-order:checked ~ .lbl-swith {
  background: rgb(57, 16, 163);
}

/* SEARCH INPUTT */
.search {
  border-radius: 10px;
  padding: 10px;
  width: 30%;
}

.search-img {
  width: 30px;
  margin: 10px auto auto 12px;
}

/* FILTER */
.filter {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .wrapper {
    justify-content: space-between;
  }
  .countrie {
    width: 43%;
    height: 100px;
  }
  .search {
    width: 50%;
  }
}
